@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,700;1,400;1,600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.container {
    width: 80%;
    height: 80vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fde3a7d7;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}



.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}

.input-box label,
.genero-title h4 {
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}

.input-box input::placeholder {
    color: #000000be;
}

.genero-group {
    display: flex;
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.genero-input {
    display: flex;
    align-items: center;
}

.genero-input input {
    margin-right: 0.35rem;
}

.genero-input label {
    font-size: 0.81rem;
    font-weight: 600;
    color: #000000c0;
}



@media screen and (max-width: 1330px) {
    .form-image {
        display: none;
    }
    .container {
        width: 50%;
    }
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .genero-inputs {
        margin-top: 2rem;
    }
    .genero-group {
        flex-direction: column;
    }
    .genero-title h4 {
        margin: 0;
    }
    .genero-input {
        margin-top: 0.5rem;
    }
}



/*Valoracion*/

ul,li{
    list-style: none;
}
.starts,.starts ul{float:left;}
.starts{padding-left:16px;padding-top:7px;}
.starts ul li{float:left;color:#ddd;padding-right:3px;font-size:28px;cursor: pointer;}
.starts ul li.on{color:rgba(68, 205, 247, 0.822);}
.starts ul span{display:inline;float:left;padding-left:10px;margin-top: 10px;}



/*Fecha de nacimeinto*/
.fecha input[ type="date"]{
    background-color: #6c63ff;
    padding: 10px;
    top:50%;
    left: 50%;
    color: #fff;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    
}

::-webkit-calendar-picker-indicator{
    background-color: #fff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}


/*Boton enviar*/

button{
text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#333333;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
background-color:#FFD27D;
border-color: #d8d8d8;
border-width: 3px;
border-style: solid;
border-radius:35px;
cursor: pointer;
}

button:hover{
    background-color: #6c63ff;
}